<p id="notice"><%= notice %></p>

<div class="row justify-content-md-center mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Listing Calendars
      </div>

      <div class="card-body">

        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @calendars.each do |calendar| %>
              <tr>
                <td>#<%= calendar.id %></td>
                <td><%= calendar.name %></td>
                <td><%= link_to 'Show', [:admin, calendar] %></td>
                <td><%= link_to 'Edit', edit_admin_calendar_path(calendar) %></td>
                <td><%= link_to 'Destroy', [:admin, calendar], method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <p class="text-center mt-5">
          <%= link_to 'New Calendar', new_admin_calendar_path, class: 'btn btn-primary' %>
        </p>
      </div>
    </div>
  </div>
</div>
