<p id="notice"><%= notice %></p>

<%= form_for(@intervention) do |f| %>
  <% if @intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
        <% @intervention.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration %>
    <%= f.number_field :duration, class: "form-control", min: 1, max: 60 %>
  </div>

  <div class="form-group">
    <%= f.label :calendar %>
    <%= f.collection_select(:calendar_id, Calendar.all, :id, :name, { prompt: true }, { class: "form-control" }) %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
